* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: skyblue;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: skyblue;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: skyblue;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

#welcome {
  top: 0;
  background: silver;
  min-height: 100vh;
  padding-top: 45vh;
  background: skyblue;
  background-size: cover;
}
#footer {
  background: #87ceeb;
  font-size: 25px;
  padding: 10px;
}
#projects {
  background: #f0f8ff;
  min-height: 100vh;
}
.projt {
  background: #fff8dc;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 1px solid #5f9ea0;
}
.img-tile {
  width: 298px;
  height: 200px;
  border: 1px solid;
}
#certis {
  background: #f0f8ff;
  min-height: 100vh;
}
#certs,
#project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#education {
  background: #f0f8ff;
}
#institutions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.certbor,
.proj {
  width: 300px;
  height: 330px;
  margin: 10px;
}
.certname,
.projname {
  text-decoration: none;
  font-family: ubuntu;
  font-size: 20px;
  padding: 2px;
}
.quotes {
  font-family: ubuntu;
  color: gray;
}
.certisection,
.projsection {
  width: 700px;
}
.projminisection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.certiminisection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#contacts {
  background: #f0f8ff;
  min-height: 100vh;
}
#con {
  background-color: #d3d3d3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.conta {
  background: inherit;
  width: 300px;
  height: 300px;
  margin: 20px;
}
.madhe {
  width: 300px;
  height: 300px;
  margin: 20px;
  font-size: 200px;
  padding-left: 10%;
  align-items: center;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #121;
  text-decoration: none;
  font-weight: 700;
}
.page-title {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
  margin-bottom: 0;
}
h4 {
  margin: 10px 0 20px 0;
}

@media screen and (min-width: 1200px) {
  #welcome {
    top: 0;
    min-height: 100vh;
    padding-top: 45vh;
    background-image: url(../images/backbhu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .certisection,
  .projsection {
    padding-top: 10px;
    width: 1050px;
  }
}

/*
Personal Notes:
MAKE IT RESPONSIVE
ADD media queries
3 different for 3 different Screen Sizes
Make background less visible (opacity)
Make Background light and use darker version in front instead of opposite
Use this:
https://www.quackit.com/css/css_color_codes.cfm
Show Title in image when you Hover over them (Difficult or rather TDS)
One day
Make Another Page for certificates and Projects and Show them in full size if Possible
Upload on Github once Completed
Along with Other Projects
*/
