.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar:hover{opacity:1}
.navbar .li:hover{opacity:1;font-family:Impact,Charcoal,sans-serif;font-family:normal}

/*
body{font:ubuntu}
#welcome{top:0;background:silver;min-height:100vh;padding-top:45vh}
.heart{width:200px;height:200px;background-color:white;position:absolute;transform:rotate(45deg);top:0;left:0;right:0;bottom:0;margin:auto;opacity:.2}
.heart::before{content:"";border-radius:50%;background-color:white;width:200px;height:200px;left:0;top:-100px;position:absolute}
.heart::after{content:"";border-radius:50%;background-color:white;width:200px;height:200px;left:-100px;top:0;position:absolute}
.heart{animation-name:beatit;animation-duration:2s;animation-iteration-count:infinite}@keyframes beatit{50%{transform:scale(.75) rotate(45deg)}}
#footer{background:#87ceeb;font-size:25px;padding:10px}
#projects{background:#f0f8ff;min-height:100vh}
.projt{background:#fff8dc;width:300px;height:300px;margin:10px;border:1px solid #5f9ea0}
.img-tile{width:298px;height:200px;border:1px solid}
#certis{background:#dcdcdc;min-height:100vh}
#certs,#project{display:flex;flex-wrap:wrap;flex-direction:column;align-items:center;justify-content:center;background:#d3d3d3}
.certbor,.proj{width:300px;height:300px;margin:10px}
.tallht{width:300px;height:330px;margin:10px}
.certname,.projname{text-decoration:none;font-family:ubuntu;font-size:20px;padding:2px}
.quotes {font-family:ubuntu;color:gray;}
.certisection,.projsection{width:700px}
.projminisection{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
.certiminisection{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
#contacts{background:#d3d3d3;min-height:100vh}
#con{background-color:#d3d3d3;display:flex;flex-wrap:wrap;align-items:center;justify-content:center}
.conta{background:inherit;width:300px;height:300px;margin:20px}
.madhe{width:300px;height:300px;margin:20px;font-size:200px;padding-left:10%;align-items:center}
a{text-decoration:none;color:#000}
a:hover{color:#121;text-decoration:none;font-weight:700}
.page-title{font-family:Impact,Charcoal,sans-serif;font-size:50px;margin-bottom:0}
#navbar{width:100vw;height:50px;position:fixed;padding:10px;display:flex;flex-direction:row;justify-content:space-around;font-size:25px;background:azure;opacity:.7;font-family:Impact,Charcoal,sans-serif;border-bottom:1px solid #232}
#navbar:hover{opacity:1}
#navbar .a:hover{opacity:1;font-family:Impact,Charcoal,sans-serif;font-family:normal}
h4{margin:10px 0 20px 0}

@media screen and (min-width:1200px){#welcome{top:0;min-height:100vh;padding-top:45vh;background-image:url(../images/backbhu.jpg);background-position:center;background-repeat:no-repeat;background-size:cover}
.certisection,.projsection{padding-top:10px;width:1050px}
}
*/

/*
Personal Notes:
MAKE IT RESPONSIVE
ADD media queries
3 different for 3 different Screen Sizes
Make background less visible (opacity)
Make Background light and use darker version in front instead of opposite
Use this:
https://www.quackit.com/css/css_color_codes.cfm
Show Title in image when you Hover over them (Difficult or rather TDS)
One day
Make Another Page for certificates and Projects and Show them in full size if Possible
Upload on Github once Completed
Along with Other Projects
*/
